body {
  margin: 0px;
  padding: 0px;
}
main {
  padding: 0px 100px;
}
header {
  background-color: rgb(86, 245, 152);
}
header ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
}
header ul li a:hover {
  border-bottom: 2px solid black;
  color: rgb(6, 133, 48);
}
header nav {
  padding: 2px 10px;
}
footer {
  background-color: black;
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul li {
  list-style: none;
}
.txt-white {
  color: white;
}
.explore {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.txt-center {
  text-align: center;
}
.column {
  display: flex;
}
.sec1 {
  padding-top: 65px;
  padding-left: 35px;
  text-align: justify;
}
.copyright {
  margin: 0px;
  padding-bottom: 20px;
}
.card {
  border: 3px solid black;
  margin: 10px;
}
.card:hover {
  box-shadow: 3px 3px 7px 7px;
}
